
# Homework: Introduction to Python

In this homework assignment, you'll practice what you've learned so far: variables, types, operators, errors, and print statements. Complete each part and submit your notebook when you're done.

**Instructions:**
- Write your code in the provided cells.
- Run each cell to check your results.
- Submit your completed notebook by the due date.


## Part 1: Variables and Types

### Exercise 1
Create variables of the following types: `int`, `float`, and `str`. Assign any values you like to them and print each one.

In [ ]:
integer_variable = 8
float_variable = 3.145926535
string_variable = "I used to know more digits of pi"
print(integer_variable)
print(float_variable)
print(string_variable)

8
3.145926535
I used to know more digits of pi


### Exercise 2
The following code contains errors. Identify and correct them.

In [ ]:

# The code below has errors. Fix them.
# The error was trying to add a string (10 in quotes) and a float. Then also you cannot concatenate string + float.
my_number = 10
my_float = 5.0
result = my_number + my_float
print("The result is: " + str(result))

The result is: 15.0


## Part 2: Operators

### Exercise 3
Perform the following arithmetic operations and print the results:
1. Addition of two numbers.
2. Subtraction of one number from another.
3. Multiplication of two numbers.
4. Division of one number by another.

In [ ]:
addvar = 8+2
subvar = 12-2
multvar = 5*2
divvar = 100/10
print(addvar, subvar, multvar, divvar)

10 10 10 10.0


### Exercise 4
Use comparison and logical operators to evaluate the following expressions and print the results:
1. Is 10 greater than 5?
2. Is 3 less than or equal to 3?
3. Is 7 equal to 8?
4. Is 5 greater than 3 and 2 less than 4?

In [ ]:
10 >= 5

True

In [ ]:
3 <= 3

True

In [ ]:
7 == 8

False

In [ ]:
5>3

True

In [ ]:
2<4

True


## Part 3: Errors and Debugging

### Exercise 5
The following code contains syntax and runtime errors. Identify and correct them.

In [ ]:

# The code below has errors. Fix them.
#my Variable = "This is my first string";
#2remove = " first";
#final String = my Variable - 2remove;
#print(final String);

In [ ]:
my_variable = "This is my first string"
final_string = my_variable.replace('first ', '')
#cannot use - operator for strings, cannot convert non numerical strings to int
print(final_string)

This is my string


## Part 4: Print Statements

### Exercise 6
Use print statements to display the following:
1. A string that says "Hello, World!"
2. A formatted string that includes the values of two variables.

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print("The previous variables in this worksheet are: string_variable: "+string_variable+" & final_string: "+final_string)

The previous variables in this worksheet are: string_variable: I used to know more digits of pi & final_string: This is my string


### Exercise 7
Print multiple variables each on their own line using a **single** print statement.

In [ ]:
print(string_variable + "\n" + final_string, sep="\n")

I used to know more digits of pi
This is my string


## Conclusion

Reflect on what you've learned in this homework. What parts were easy for you? Which ones were challenging? Write a few sentences below.

I was too eager to run each cell without checking first mentally if it would work or not. For example, I should have realized without hitting run that I could not concatenate and int + float within a print statement. The mathematical operators were easier than figuring out how to separate a string into separate lines.